
.underline{
    height: 15px;
    border-radius: 5px;
    margin-top: -10px;
    margin-left: -2px;
    width: 6rem;
}
.underline--1{
    background-color: #fafa8b;
}
.underline--2{
    background-color: rgb(245, 214, 218);
}
.underline--1:hover{
    background-color: #ffff00;
    cursor: pointer;

}
.underline--2:hover{
    background-color: #fa8d80;
    cursor: pointer;
}
@media(min-width: 0px) and (max-width: 768px){
    .underline--container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .underline{
        justify-content: center;
        width: 8rem;
        margin-top: -6px;
    }
    
}

