.header__menu{
    align-items: center;
    column-gap: 1rem;
    display: flex;
    justify-content: flex-end;
    width: 350px;
}

.header__menu-itens{
    column-gap: 2rem;
    display: flex;
    list-style: none;
}
.header__menu-itens a{
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    transition: 0.5s ease;
}

.header__menu-itens a:hover{
    font-weight: 600;
}

.header__menu button{
    background-color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Fraunces', serif;
    padding: 10px;
    transition: 0.6s ease;
    width: 150px;
}

.header__menu button:hover{
    background-color: #acdef8 ;
    color: #fff;
}

.hamburguer{
    display: none;
}

@media(min-width: 0) and (max-width: 768px){
    .header__menu{
        display: none;
    }
    .hamburguer{
        display: block;
    }
}
