/* 3ebfff cor do background 
 font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif;
cor do titulo e texto do board: #39414A;
*/

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body{
   width: 100vw;
   body: 
}