.testimonials{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 90vh;
    padding: 2rem;
 
   
}
.testimonials__title{
    color:#a7abae;
    font-family: 'Fraunces', serif;
    font-size: 1.4rem;

}

@media(min-width: 0px) and (max-width: 768px){
    .testimonials{
        height: auto;
        padding: 1.2rem;   
    }
    .testimonials__title{
        margin-top: 1rem;
    }
}