#container--mobile{
    display: none;
}
.container__mobile{
    position: absolute;
    top: 60px;
    right: 1.8rem;
    width: 85%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 10px;
    background-color:#fff;
}

.container__mobile--estilização{
    width: 85vw;
    height: 30px;
    margin-left: -15px ;
    background: #3ebfff;
    transform: skew(-35deg);
}

.container__mobile--itens{
    margin-top: 2rem;
    display: flex;
    row-gap: 2rem;
    flex-direction: column;
    width: 100%;
    height: 75%;
    align-items: center;  
}

.container__mobile--itens ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
}
.container__mobile--itens a{
    color: #818498;
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}
.container__mobile--itens a:hover{
    color: #51525e;
}
.container__mobile--button{
    font-family: 'Fraunces', serif;
    background-color: #fad400;
    border: none;
    border-radius: 20px;
    height: 50px;
    width: 115px;
    font-size: 1.2rem;
}

.container__mobile--button:hover{
    background-color: #f7e371;
}


@media(min-width: 768px){
    #container--mobile{
        display: none;
    }
    .container__mobile{
        display: none;
    }
}